.ui.button {
  font-family: 'Muli', sans-serif;
}
.btn__upload {
  .ui.button {
    width: 200px;
    border-radius: 3px;
    background-color: $color-cool-blue;
    color: $color-white;
    font-size: 16px;
    font-weight: normal;
  }
}
