.ui.button {
  font-family: 'Muli', sans-serif;
  &.confirm-modal__positive {
    background-color: $color-cool-blue;
    color: $color-white;
  }
}
.btn__upload {
  .ui.button {
    border-radius: 3px;
    background-color: $color-cool-blue;
    color: $color-white;
    font-weight: normal;
    // set due to the width 10em set in
    // button.ui.button user-container.scss
    // which makes button text take 2 lines
    min-width: 11em;
  }

#report__upload__btn, #research__upload__btn {
  color: $color-white;
  width: 200px;
  height: 50px;
  border-radius: 3px;
  background-color: $color-cool-blue;

}
.btn__add {
  button.ui.button {
    border-radius: 3px;
    color: $color-white;
    background-color: $color-ugly-blue;
    height: 3.45em;
    width: 16em;
  }
  button.ui.button:hover {
    background-color: #81BDD4;
  }
}
}

.bg-transparent {
  background: transparent;
}