.entries {
  width: 900px;
  height: 28px;
  margin-left: 15px;
  margin-top: 19%;
  font-family: Muli;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.07;
  letter-spacing: -0.3px;
  color: #616163;
}
