$cool-blue: #3faaca;
$ugly-blue: #296d81;
$dark: #1a1f37;
$pale-gray: #fafeff;

.app-pagination {
  height: 31px;

  .page-number {
    border: solid 1px $ugly-blue;
    width: 40px;
    height: 31px;
    color: $ugly-blue;
  }

  .pg-btn {
    width: 32px;
    height: 31px;
    cursor: pointer;
    margin-left: 6px !important;
  }

  .icon-active {
    border: solid 1px $ugly-blue;
    color: $ugly-blue;
    cursor: pointer;
  }

  .icon-inactive {
    border: solid 1px #e0e0e0;
    color: #e0e0e0;
    background-color: $pale-gray;
    cursor: default;
  }

  .pg-text,
  .page-number {
    padding-top: 5px !important;
  }

  .pg-buttons {
    padding: 0;
  }
}
