{
    "extends": [
      "airbnb",
      "prettier",
      "prettier/react"
    ],
    "plugins": ["react", "prettier"],
    "parser": "babel-eslint",
    "env": {
      "node": true,
      "es6": true,
      "mocha": true,
      "browser": true,
      "commonjs": true,
      "jest": true
    },
    "rules": {
      "new-cap": 0,
      "import/prefer-default-export": "off",
      "prettier/prettier": "error",
      "import/no-unresolved": 0,
      "no-plusplus": 0,
      "consistent-return": 0,
      "no-underscore-dangle": 0,
      "no-unused-expressions": 0,
      "jsx-a11y/label-has-associated-control": [ 2, {
        "labelComponents": ["label"],
        "labelAttributes": ["htmlFor"],
        "controlComponents": ["input"]
      }],
      "jsx-a11y/label-has-for": [ 2, {
        "components": [ "Label" ],
        "required": {
          "some": [ "nesting", "id" ]
        },
        "allowChildren": false
      }],
      "react/react-in-jsx-scope": ["off"],
      "react/require-default-props": 0,
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    }
}
