# Logs
logs
*.log
.DS_Store

npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Coverage directory
coverage 
/client/coverage
/server/coverage
/server/upload/images
*.test.js.snap

#build
build
dist-server
dist-client
.cache

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# private files
.env
dist/
.nyc_output/
yarn-error.log

# Vscode
.vscode

# Intellij
.idea/

.editorConfig
data/
