
@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700');
@import '../abstracts/theme_variables';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px !important;
	font-family: 'Muli', sans-serif;
	background-color: #f8fdff;
}

.ui.form .field>label {
	font-size: 16px;
}

.cool-blue {
	background-color: #3faaca !important;
	color: white !important;
	font-weight: 400 !important;
}

.show .content {
	display: block !important;
	height: auto !important;
	opacity: 1 !important;
	padding: 12px !important;
}

.bg-ugly-blue {
	background-color: $ugly-blue !important;
	&:hover {
		background-color: $color-cool-blue !important;
	}
}

.bg-cool-blue {
	background-color: $color-cool-blue !important;
	&:hover {
		background-color: $ugly-blue !important;
	}
}
$fontSize: 14px;
.title.bold {
	font-weight: bold;
	font-size: $fontSize;
}


.media_type {
	font-size: $fontSize !important;
	padding-top: 0px;
	Label {
		font-size: $fontSize !important;
	}
	.column.title {
		padding-right: 0px !important;
		width: 9.5%!important;
	}
}
