.u-margin-right-medium {
  margin-right: 50px !important;
}
.u-margin-top-medium {
  margin-top: 40px !important;
}

.mr-12 {
  margin-right: 12px !important;
  margin-top: 2px !important;
}

.visible.menu.transition {
  z-index: 10000;
  clear: both;
}