@import '../abstracts/theme_variables';

div.button__area {

  margin-top: 1rem;
  margin-bottom: 3rem;

  button {
    width: 200px;
    height: 42px;
    border-radius: 3px;
    background-color: #3faaca;
    border: none;
    font-size: 1rem;
    line-height: 1.81;
    letter-spacing: 0.5px;
    text-align: center;
    color: #fff;
    cursor: pointer;
  }
}

.common__button {
  height: 42px;
  border-radius: 3px !important;
  background-color: $color-cool-blue !important;
  &:hover {
    width: 100% !important;
    display: block;
  }
}
