@import '../abstracts/theme_variables';

div.button__area {

  margin-top: 1rem;
  margin-bottom: 3rem;

  button {
    width: 200px;
    height: 42px;
    border-radius: 3px;
    background-color: #3faaca;
    border: none;
    font-size: 1rem;
    line-height: 1.81;
    letter-spacing: 0.5px;
    text-align: center;
    color: #fff;
    cursor: pointer;
  }
}

.common__button {
  height: 42px;
  border-radius: 3px !important;
  background-color: $color-cool-blue !important;
  &:hover {
    width: 100% !important;
    display: block;
  }
}

.thirteen.wide.column.actions-delete-edit {
  margin-left: -0;
}

button.ui.button.archive-doc {
  padding-left: 0;
}

button.ui.button.archive-doc.delete-doc.red {
  padding-right: 0;
}

button#document_edit_btn {
  padding-left: .2px;
}
.disable-btn {
  background-color: #81BDD4;
  opacity: 0.5;
  cursor: default !important;
}
.disable-btn-area button {
  background-color: #81BDD4;
  opacity: 0.5;
  cursor: default !important;
}
button{
  cursor:pointer;
}
button.ui.button.map-btn {
  background: transparent !important;
  color: #3faaca !important;
  padding-left: 6px;
  width: 60px !important;
}
