
#more__options{
  // background-color: red;
  width: 132px;
  height: 29px;
  font-family: Muli;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.81;
  letter-spacing: -0.3px;
  text-align: center;
  color:#3faaca;
  margin-right:30px;
}


#save__dropdown{
  width: 200px;
  font-family: Muli;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.81;
  letter-spacing: -0.3px;
  text-align: center;
  color: #fff;
}

#delete__logo{
  margin-top: 25px;
}
