// COLORS
$color-cool-blue: #3faaca;
$color-light-blue: #84c8dd;
$color-ugly-blue: #296d81;
$color-lighter-blue: #eff8fb;
$color-white: #ffffff;
$color-dark: #1a1f37;
$color-slate-grey: #616163;
$color-pale-grey: #fafeff;
$color-rusty-red: #d3281f;
$ugly-blue: #296d81;
$alice-blue: #eff8fb;
$rusty-red: #d3281f;
