$cool-blue: #3faaca;
$ugly-blue: #296d81;
$dark: #1a1f37;
$pale-gray: #fafeff;

.content-header {
  font-family: Muli, sans-serif;
  width: 1136px;
  height: 72px;
  padding: 18px 0 19px 56px;
  font-size: 25px;
  font-weight: 800;
  line-height: 1.4;
  letter-spacing: -0.8px;
  float: right;
}

.event-container {
  width: 1000px;
  padding: 40px 64px 80px 0px;

  .input-field::placeholder {
    color: $dark !important;
  }
}

.btn-search,
.btn-add {
  color: white !important;
  font-size: 16px;
  border: 0;
  border-radius: 3px;
}

.small {
  height: 50px !important;
  width: 184px !important;
  margin-left: 4px !important;
}

.big {
  width: 320px !important;
  height: 50px !important;
}

.cool-blue {
  background-color: $cool-blue !important;
}

.ugly-blue {
  background-color: $ugly-blue !important;
}

input {
  border: solid 1px #cae7f0 !important;
}

.list-body {
  margin-top: 32px !important;
}

.event-card {
  width: 200px !important;
  margin-bottom: 64px;
  margin-right: 72px;

  .event-card__header {
    height: 132px;
    width: 200px !important;
    background-position: center;
  }

  .event-card__body {
    margin-top: 16px;
    width: 200px !important;

    .event-card__body-title {
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.81;
      letter-spacing: -0.3px;
      color: $dark;
      width: 200px;
      height: 67px;
    }

    .event-card__body-date {
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.07;
      letter-spacing: -0.3px;
      color: #616163;
      font-size: 14px;
    }
  }

  .card-footer {
    margin-top: 8px;
  }

  .footer-btn {
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.07;
    letter-spacing: -0.3px;
    border: 0;
    background-color: #f8fdff;
    cursor: pointer;
    font-size: 14px;
  }

  .txt-blue {
    color: $cool-blue;
  }

  .txt-red {
    color: #d3281f;
  }

  .no-padding {
    padding-left: 0 !important;
  }
}

.empty-view {
  text-align: center;

  .image-empty {
    width: 112px;
    height: 85px;
    display: inline-block;
    margin-top: 5%;
  }
}

.empty-view-search {
  margin-left: 240px;
}

.events-pagination {
  margin-top: 10px !important;
  margin-right: 64px !important;
  margin-bottom: 80px !important;
}

button:focus {
  border: none;
  outline: none;
}

.file-width {
  width: 100% !important;
}

.file__label {
  height: 60% !important;
}

.not-found-view {
  text-align: center;
  margin-top: 5%;
}

.btn-save {
  height: 50px;
  border: 0;
  border-radius: 3px;
  background-color: $cool-blue;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.81;
  letter-spacing: -0.3px;
  text-align: center;
  color: white;
  margin-bottom: 80px;
}

.event-form {
  width: 920px;

  .event-label {
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.3px;
    color: $dark;
  }
}

.ui.info.message.no-search-events {
  width: 94.5%;
}

#fs {
  width: 80px!important;
}

.fundingDlt-btn {
  width: 8% !important;
}
