@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700');
@import './group';
@import './sidebar';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div [class*="left floated"] {
  float: left;
  margin-left: 0.25em;
}


div [class*="right floated"] {
  float: right;
   margin-right: 0.25em;
}

.cool-blue {
    background-color: #3faaca !important;
    color: white !important;
    font-weight: 400 !important;
}

/**
hides toast message when using interceptors to redirect to login page.
 */
.hide-toast {
  display: none !important;
}
