span.block {
  display: block;
}

span.text {
  font-size: 1.1rem;
  padding: 0.8rem 0;
  font-weight: 600;
}
.label-stakeholder {
  background: transparent !important;
  width: 147px;
  height: 29px;
  letter-spacing: -0.3px;
  color: #1a1f37 !important;
}