.highlight__input {
  flex: 1;
  margin-right: 30px;
  margin-top: 10px;
  width: 100% !important;
  align-self: flex-end;
}

.add__more__btn {
  margin-bottom: 0px !important;
  align-self: flex-end;
}

.save__btn {
  margin-top: 3em !important;
}

.input__label {
  transform: translateY(19px);
}
